# Copia este archivo a .env.stack y ajusta rutas locales
# cp .env.stack.example .env.stack

# Repositorio de seguridad (auth)
AUTH_PROJECT_PATH=../kali-auth-context
AUTH_COMPOSE_FILE=docker-compose.dev.yml
AUTH_ENV_FILE=.env.dev
# Puerto Docker: 18080 -> APP_PORT: 8082 (local)

# Repositorio de facturacion
INVOICING_PROJECT_PATH=../kali-invoice-service
INVOICING_COMPOSE_FILE=docker-compose.debug.yml
INVOICING_ENV_FILE=.env.dev
# Puerto Docker: 8080 -> APP_PORT: 8083 (local)

# Frontend (este repo)
FRONT_COMPOSE_FILE=docker-compose.dev.yml
FRONT_ENV_FILE=.env.dev
